{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/trails/{{trail.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Create New Trail</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ trail.title }}"
                value="{{ trail.title }}"
                class="form-control"
            >
            <label class="form-label">Body:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ trail.body }}" 
                value="{{ trail.body }}" 
                class="form-control"
            >
            <label class="form-label">Amount:</label>
            <input 
                type="text" 
                name="aaaa"
                value="{{ trail.amount }}"
                class="form-control"
            >
            <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
                {% if trail.ready %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Edit trail" class="btn btn-success">
    </form>
</div>
{% endblock %}