{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/trails/{{trail.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit</legend>
            <label class="form-label">State: </label>
            <input 
                type="text" 
                name="state" 
                placeholder="{{ trail.state }}"
                value="{{ trail.state }}"
                class="form-control"
            >
            <label class="form-label">Location:</label>
            <input 
                type="text" 
                name="location" 
                placeholder="ex: Riding area" 
                value="{{ trail.location }}" 
                class="form-control"
            >
            <label class="form-label">Trail:</label>
            <input 
                type="text" 
                name="Trail"
                value="{{ trail.trail }}"
                class="form-control"
            >
            <label class="form-label">Type:</label>
            <input 
                type="text" 
                name="type" 
                placeholder="{{ trail.type }}"
                class="form-control">
              
            
        </fieldset>
       
        <input type="submit" value="Edit trail" class="btn btn-success">
       
    </form>
</div>
{% endblock %}