{% layout 'layout.liquid' %}
{% block content %}
    {% if trails.length > 0%}
        <div>
            <h2 class="container-md justify-content-center">All Trails</h2>
            <div class="container">
                {% for trail in trails %}
                    <div class="container" style="width: 50rem;">
                        <h5 class="card-header">{{trail.state}}:  {{trail.location}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">
                               
                            </h5>
                            <p class="card-text"> {{trail.trail}} trail </p>
                            <div class="colorBox" style="background-color: {{trail.type}}">

                            </div>
                            <a class="btn btn-info" href="/trails/{{trail.id}}">
                                View {{trail.trail}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="containerNoTrails">
            <p"display-6">No Trails! Create a new trail to contribute. Share your favorite trails!</p>
            <img src=" https://static.rootsrated.com/image/upload/s--_LALCmqh--/t_rr_large_natural/w2bpaexoldeitgsbxy0t.jpg"
            >
        </div>
    {% endif %}
{% endblock %}