{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ trail.title }} 
            {% if loggedIn %}
            
            {% else %}
            
            {%endif%}
        </h2>
        <h4> {{trail.trail}} </h4>
        <h3>Location: {{ trail.location }}</h3>
        <h6>type: {{ trail.type }}</h6>
        
        {% if trail.owner == userId and loggedIn %}
        
        <div class="btn-group">

            <a class="btn btn-primary" href="/trails/edit/{{ trail.id }}">Edit</a>

            <form action="/trails/{{ trail.id }}?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete" >
            </form>
        </div>
        {% endif %}
    </article>

    <hr>
    <H3>Trail Condition Reports</H3>
    <hr>
    
</div>
{% endblock %}