{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ trail.title }} 
            {% if loggedIn %}
            
            {% else %}
            
            {%endif%}
        </h2>
        <h4> {{trail.trail}} </h4>
        <h3>Location: {{ trail.location }}</h3>
        <h6>type: {{ trail.type }}</h6>
        
        {% if trail.owner == userId and loggedIn %}
        
        <div class="btn-group">

            <a class="btn btn-primary" href="/trails/edit/{{ trail.id }}">Edit</a>

            <form action="/trails/{{ trail.id }}?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete" >
            </form>
        </div>
        {% endif %}
    </article>

    <hr>
    <H3>Trail Report</H3>
    <hr>
        <div class = "col-md-6">
            <form action="/conditions/{{trail.id}}" method="POST">
                <fieldset>
                    <legend>Add Conditions Report:</legend>
                    <label class="form-label"> Trail Conditions:</label>
                    <input class="form-control mb-5" type="text"
                    placeholder="Enter your Conditions:" name="trailUpdate" required>
                </fieldset>
                <input class="btn btn-success" type="submit" value="add">
                </form>
        </div>
        <hr>
        {% if trail.conditions.length > 0 %}
            <div class="container-md justify-content-left">
                <div class="col-md-8 col-lq-6">
                    {% for condition in trail.conditions %}
                        {% render '../condition.liquid', condition: condition, userId: userId, trail: trail %}
                        {% endfor %}
                </div>
            </div>
            {% endif %}
</div>
{% endblock %}