{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article class="container-md justify-content-center ">
        
        <h2>
            {{ trail.title }} 
            {% if loggedIn %}
            
            
            
            {%endif%}
        </h2>
        <h4 class= "container-md justify-content-center"> {{trail.trail}} </h4>
        <h3>Location: {{ trail.location }}</h3>
        <h4>type: {{ trail.type }}</h4>
        <p>Description: {{ trail.Description }}</p>
        <h4>Difficulty: {{ trail.Difficulty }}</h4>
    </article>

    <hr>
  
<H3>Trail Reports</H3>
        
        <hr>
        {% if trail.conditions.length > 0 %}
            <div class="container-md justify-content-center">
                <div class="col-md-8 col-lq-6">
                    {% for condition in trail.conditions %}
                        {% render '../condition.liquid', condition: condition, userId: userId, trail: trail %}
                        {% endfor %}
                </div>

     {% if trail.owner == userId and loggedIn %}
        
        <div class="btn-group">

            <a class="btn btn-warning" href="/trails/edit/{{ trail.id }}">Edit Trail</a>

            <form action="/trails/{{ trail.id }}?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete Trail" >
            </form>
        </div>
        {% endif %}
            </div>
            {% endif %}

              
    
        <div class = "col-md-6">
            
            <form action="/conditionControllers/{{trail.id}}" method="POST">
                <fieldset>
                    <legend>Add Conditions Report:</legend>
                    <label class="form-label"> Trail Conditions:</label>
                    <input class="form-control mb-5" type="text"
                    placeholder="Enter your Conditions:" name="trailUpdate" required>
                    
                    <label class="form-label"> Description:</label>
                    <input class="form-control mb-5" type="text"
                    placeholder="Share comments and beta here:" name="description" required>
                </fieldset>
                <input class="btn btn-success" type="submit" value="add condition">
                </form>
                
        </div>
</div>
{% endblock %}